=hmargin($margin)
  margin-left:   $margin
  margin-right:  $margin

=vmargin($margin)
  margin-top:    $margin
  margin-bottom: $margin

=hpadding($pad)
  padding-left:   $pad
  padding-right:  $pad

=vpadding($pad)
  padding-top:    $pad
  padding-bottom: $pad

// resets

*
  box-sizing: border-box

body
  margin: 0

a
  text-decoration: none

h1, h2
  margin-top: 0

// base style

body
  font-family: Helvetica, Arial, Verdana
  font-size: 110%
  color: #222
  margin: 0 0 35px 0
  background: #EEE

#container > header, #container > .content
  position: relative
#container > header
  z-index: 2
#container > .content
  z-index: 1

// utils

.inline
  display: inline-block

.left
  float: left

.clear
  clear: both


// units and colors

$u: 0.4em
$pu: 2%

$green:       #083
$light_blue:  #E4FBFF


ul
  list-style-type: circle
  li
    margin-bottom: $u*2
    a
      color: $green
  li::marker
    color: $green

h1
  color: darken($green, 8)

p
  +vmargin($u * 3)

p.ns
  +vmargin($u/4)

a
  color: $green
  &:hover
    color: lighten($green, 10)

#container > header
  background: #FFF
  border-bottom: 2px solid $green
  padding: $u 0 0 0
  box-shadow: 0 2px 6px #666
  h1
    display: inline-block
    margin: 0 0 0 $pu/2
    position: relative
    top: -10px
  img // logo
    width: 50px
    display: inline-block
    margin: 0 0 0 $pu*2
  nav
    display: inline-block
    margin: 0 0 0 $pu
    position: relative
    top: -10px
    a
      margin: 0 $u 0 0
      text-transform: uppercase
      font-weight: bold
      font-size: 0.8em

#container > .content
  width: 100% - $pu*4
  margin: 0 auto
  background: #FFF
  padding: $u*3 $pu 0
  border: 1px solid #999
  box-shadow: 1px 3px 5px #AAA
  h1
    margin-bottom: $u*2
  .inner
    min-height: $u * 60
    padding-bottom: $u*3
  .footer
    text-align: center
    font-size: 0.8em
    background: #EDFFEB
    color: #444
    width: 100% - $pu*30
    margin: 0 auto


.big
  margin: 20px 0
  font-size: 1.8em
  font-weight: bold

// pages selective style


.home
  #container > .content
    padding: $u*10 $pu*2 0
  img
    margin-right: $pu*2


.lavori .content
  img
    //width: $pu*10
    margin-left: $pu
    margin-right: $pu*7
    +vmargin( $u*6 )
  img:nth-child(3n+2)
    margin-right: 0
