%nav
  %a{ href: "/" }            Home
  %a{ href: "/professione" } Professione
  %a{ href: "/curriculum" }  CV
  %a{ href: "/studi" }       Studi
  %a{ href: "/lavori" }      Lavori
  -# %a{ href: "/news" }     News
  %a{ href: "/contatti" }    Contatti
  -#%a{ href: "http://pietroporcinai.net" } Pietro Porcinai