%nav
  /%a{ href: "/" }             home
  %a{ href: "/curriculum" }   CV
  %a{ href: "/professione" }  professione
  %a{ href: "/studi" }        studi
  %a{ href: "/lavori" }       lavori scelti
  %a{ href: "/news" }         notizie
  %a{ href: "/contatti" }     contatti
  -#%a{ href: "http://pietroporcinai.net" } Pietro Porcinai