%nav
  - unless body_class == "home"
    %a{ href: "/" }             home 
  %a{ href: "/curriculum" }   CV
  %a{ href: "/professione" }  professione
  %a{ href: "/studi" }        studi
  %a{ href: "/lavori" }       lavori
  -# %a{ href: "/news" }      news
  %a{ href: "/contatti" }     contatti
  -#%a{ href: "http://pietroporcinai.net" } Pietro Porcinai