
.rid

  %h1 Contatti

  .center
    %img{ src: "/img/contatti.jpg" }

  %p
    %strong
      Paola Porcinai

  %p.ns Via Bandini 15
  %p.ns 50014 - San Domenico - Fiesole - Firenze, Italy
  %p.ns Italia

  %p
    Email:
    %a{ href: "mailto:pporcinai@gmail.com" } pporcinai@gmail.com


