
.rid

  //%h1 Contatti


  %p
    %strong
      Paola Porcinai

  %section.right
    %p.ns
      tel: +39 055 599276
    %p.ns
      mail:
      %a{ href: "mailto:pporcinai@gmail.com" } pporcinai@gmail.com

  %section
    %p.ns Via Bandini 15
    %p.ns 50014 - San Domenico - Fiesole - Firenze, Italy
    %p.ns Italia




  .center
    %img{ src: "/img/contatti.jpg" }