%h1 Contatti

%p.ns Via Bandini 15
%p.ns 50014 - San Domenico - Fiesole - Firenze, Italy
%p.ns Italia

%p
  Email:
  %a{ href: "mailto:pporcinai@gmail.com" } pporcinai@gmail.com
  
  
%hr

Paola Porcinai    

:textile

                                                                                                Via Bandini n. 15
50014 San Domenico Fiesole (Firenze)

:textile 
  Tel. : +39 055 599276
  mail: pporcinai@gmail.com

