.bg
  %img{ src: "/img/lavori/10/9.jpg" }
  %img{ src: "/img/lavori/10/8.jpg" }
  %img{ src: "/img/lavori/10/6.jpg" }
  .cont

    = haml :_nav

    /
      old home buena
      %p &nbsp;
      %p Benvenuto/a nel sito di Paola Porcinai

      %p
        Visualizza il
        %a{ href: "/curriculum" } CV
        ,
        la lista dei
        %a{ href: "/lavori" } Lavori
        o
        %a{ href: "/contatti" } contatta Paola Porcinai

      %p.big
        Sito in costruzione
