%img.left{ src: "/img/logo_paolaporcinai.gif" }

%p &nbsp;
%p Benvenuto/a nel sito di Paola Porcinai

%p
  Visualizza il
  %a{ href: "/curriculum" } CV
  ,
  la lista dei
  %a{ href: "/lavori" } Lavori
  o
  %a{ href: "/contatti" } contatta Paola Porcinai

%p.big
  Sito in costruzione
