.bg
  -#%img{ src: "/img/lavori/10/9.jpg" }
  -#%img{ src: "/img/lavori/10/8.jpg" }
  -#%img{ src: "/img/lavori/10/6.jpg" }
  %img{ src: "/img/bg/bg_roseto.jpg" }
  %img{ src: "/img/bg/bg_mauritania.jpg" }
  .cont

    = haml :_nav





.bar.bar_right
.home_text
  %div{ data: { idx: 0 } }
    :textile
      *Attività culturali e divulgative in ricordo di Pietro Porcinai per la tutela delle sue Opere e dell’archivio.*

      1995 - 2013


  %div{ data: { idx: 1 } }
    :textile
      *Programma di stabilizzazione e di fissazione delle dune*

      Azougui, Cinguetti, Guerou, Toungad (Nord,Est) Kankossa, Maghta Lajar (est), Aouinat ez Zbil, Kiffa, Mederdra, Tamchakett, Timbedra (est e sud-ovest), Aghchourguitt, Ajouer, Boutilimit (“Route de l’Espoir”).

      Mauritania, 1983 - 1989
