//%h1= @lavoro.nome

.page
  .right
    .text
      :markdown
        #{@lavoro.introduzione}
    .gal
      = haml :_photos

  .left
    .gal_one
      = haml :_photo


    .text
      :markdown
        #{@lavoro.descrizione}

.clear