%h1 Professione

.center
  %img{ src: "/img/professione.jpg" }

:textile
  Paola Porcinai è orgogliosa di avere maturato, nel corso di un lungo periodo di tempo, varie esperienze di lavoro sia in Italia che all’estero in ambito forestale, della tutela ed ecologia del paesaggio, dei parchi e giardini, della promozione della conoscenza del paesaggio e del giardino nei suoi diversi aspetti culturale e sociale. 

  Lavora con serietà e passione per trovare il miglior equilibrio tra habitat e risorse naturali, ricercando la valorizzazione e la bellezza di entrambi ed è capace di proporre, lavorando in “equipes” multidisciplinari  (architetti, botanici, agronomi, ecc.)  le migliori soluzioni progettuali per integrare gli interventi sul territorio.