.rid

  %h1 Studi

  %ul
    - for lavoro in LAVORI.select &:studio
      %li
        %a{ href: "/lavori/#{lavoro.id}" }
          %span= lavoro.nome
        %br
        #{lavoro.ubicazione}, #{lavoro.anni}

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br