* {
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

h1, h2 {
  margin-top: 0; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, Verdana;
  font-size: 110%;
  color: white;
  background: #a7a646; }

#container > header, #container > .content {
  position: relative; }

#container > header {
  z-index: 2; }

#container > .content {
  z-index: 1; }

.inline {
  display: inline-block; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

ul {
  list-style-type: circle; }
  ul li {
    margin-bottom: 0.8em; }
    ul li a {
      font-weight: bold; }
  ul li::marker {
    color: #a7a646; }

h1 {
  color: white; }

header a h1 {
  text-shadow: 0px 0px 0px white;
  font-size: 1.3em; }

p {
  line-height: 1.6em;
  margin-top: 1.6em;
  margin-bottom: 1.6em; }

p.ns {
  margin-top: 0.1em;
  margin-bottom: 0.1em; }

a {
  color: white; }
  a:hover {
    color: lightgreen; }

.home #container > .inner > header img {
  width: 100px; }

#container > .inner > header {
  background: white;
  padding: 0.4em 0 0 0;
  z-index: 311; }
  #container > .inner > header h1 {
    display: inline-block;
    margin: 0 0 0 1%;
    position: relative;
    top: -18px; }
  #container > .inner > header img {
    width: 50px;
    position: relative;
    bottom: 540px;
    display: inline-block;
    margin: 0 0 0 4%; }
  #container > .inner > header nav {
    display: inline-block;
    margin: 0 0 0 2%;
    position: relative;
    top: -22px; }
    #container > .inner > header nav a {
      margin: 0 0.4em 0 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em; }

#container > .content {
  width: 100%;
  background: #a7a646;
  padding: 1.2em 2% 0;
  border: 1px solid #999999; }
  #container > .content h1 {
    margin-bottom: 0.8em; }
  #container > .content .inner {
    min-height: 26em;
    margin-bottom: 6em; }
  #container > .content .footer {
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    margin: 0 auto; }

.home_text {
  width: 38%;
  font-size: 0.8em;
  position: absolute;
  bottom: -1.6em;
  right: 8%;
  text-shadow: 0px 0px 0px white; }
  .home_text div {
    opacity: 0;
    position: absolute;
    top: -16em;
    right: 0; }
  .home_text div:first-child {
    opacity: 1; }

.big {
  margin: 20px 0;
  font-size: 1.8em;
  font-weight: bold; }

#container > .content {
  padding: 4em 10% 0; }

img {
  margin-right: 10%; }

#container > .content header span {
  font-size: 2em;
  position: relative;
  bottom: 18px; }

.home #container > .content {
  padding: 0; }
  .home #container > .content header {
    position: absolute;
    top: 8em;
    z-index: 22;
    left: 10%; }
    .home #container > .content header h1 {
      margin-top: 10px; }
  .home #container > .content .inner {
    padding: 0; }
  .home #container > .content .bg img:first-child {
    opacity: 1; }
  .home #container > .content .bg img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out; }
  .home #container > .content .cont {
    position: absolute;
    bottom: 0;
    left: 10%;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Verdana;
    text-shadow: 0px 0px 0px white; }
    .home #container > .content .cont a {
      color: white;
      margin-bottom: 6px; }
      .home #container > .content .cont a:hover {
        color: lightgreen; }
    .home #container > .content .cont nav a {
      display: block; }
.home .footer {
  display: none; }

.lavori .content .gal img {
  margin-left: 0;
  margin-right: 6%;
  margin-top: 0.8em;
  margin-bottom: 0.8em; }
.lavori .content .gal img:nth-child(3n+2) {
  margin-right: 0; }

.center {
  text-align: center;
  margin: 0 auto; }

.content img {
  max-width: 100%; }

.home .content img {
  max-width: none; }

.curriculum img, .contatti img {
  margin: 0 auto; }

.curriculum img {
  width: 130px; }

.contatti img.big, .professione img.big {
  width: 70%;
  margin: 0 auto;
  display: block; }

.rid {
  width: 70%;
  margin: 0 auto; }

.content header {
  position: relative;
  top: 3.6em; }
  .content header img {
    width: 55.55556px; }

.home .content header img {
  width: 100px; }

.lavoro .left {
  float: left;
  width: 70%;
  padding-right: 5%; }
.lavoro .right {
  float: right;
  width: 30%; }

.text {
  width: 70%;
  text-align: justify;
  margin: 0 auto; }

.block nav a {
  display: block; }

.rid nav {
  padding-top: 8em; }

.bar {
  height: 180px;
  width: 3px;
  background: white;
  display: block;
  position: absolute;
  bottom: 0; }

.bar.bar_left {
  left: 8%; }

.bar.bar_right {
  right: 48%; }

.bar.bar_left_page {
  position: relative;
  float: left;
  top: 120px;
  left: -3%; }
